__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
autostart/functional/lfd_notification_2.png
bin/functional/__pycache__
namaz_2.png
lfd_notification_2.png
bin/functional/namaz_2.png
