[Desktop Entry]
Encoding=UTF-8
Name=Link to SingleFile/README.MD at master · gildas-lormeau/SingleFile · GitHub
Type=Link
URL=https://github.com/gildas-lormeau/SingleFile/blob/master/cli/README.MD
Icon=text-html
