[Desktop Entry]
Name=Attendence
Exec=firefox https://ohrm.lfdanalytics.com/symfony/web/index.php/attendance/punchOut
Type=Application
X-GNOME-Autostart-enabled=true
