[Desktop Entry]
Name=Attendence
Exec=firefox https://ohrm.lfdanalytics.com/symfony/web/index.php/time/viewMyTimesheet
Type=Application
X-GNOME-Autostart-enabled=true
